
/* 
    Created on : 2013-11-5, 9:17:34
    Author     : Hong
*/
/*
 * 图片滚动
 */
#demo {
    background: #FFF;
    overflow:hidden;
    border: 1px dashed #CCC;
    width: 996px;
}
#demo img {
    border: 3px solid #F2F2F2;
}
#indemo {
    float: left;
    width: 800%;
}
#demo1 {
    float: left;
}
#demo2 {
    float: left;
}



#de {
    background: #FFF;
    overflow:hidden;
    border: 1px dashed #CCC;
    width: 996px;
}

#de img {
    border: 3px solid #F2F2F2;
}
#inde {
    float: left;
    width: 800%;
}
#de1 {
    float: left;
}
#de2 {
    float: left;
}